@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.all{
    background-color: #d1d8e2;
    font-family: "Montserrat", sans-serif;
}

.ourservices_container{
    background-color: #d1d8e2;
    color: #221d19;
   margin-top: 50px;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 100px;
   font-family: "Montserrat", sans-serif;
}


.ourservices_principalTitle{
    width: 300px;
    margin-right: 0;
    margin-top: 40px;
    margin-left: 150px;
    font-family: "Montserrat", sans-serif;
}

.ourservices_texts{
    margin-top: 50px;
    margin-left: 150px;
    width: 800px;
}


.ourservices_text1, .ourservices_text2, .ourservices_text3{
  margin-left: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  
}

.ourservices_title1, .ourservices_title2, .ourservices_title3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}

